h1 { font-size: 18pt; }

header { font-size: 22pt;
        height: 50px; }
		
#eduBackground { height: 920px; 
					width: 350px;
					margin-top: 70px; }
					
#newDiv { width: 320px; }

#education  { width: 350px; 
				height: 260px; }

#activities { width: 340px; 
			height: 175px;
				font-size: 8pt;}
				
.eduList { line-height: 28px;
			font-size: 8pt; }